/* Filters.module.css */

.centerblock__h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
    margin-bottom: 45px;
  }
  
  .centerblock__filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 51px;
  }
  
  .filter__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
  }
  
  .filter__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
  }
  
  ._btn-text:hover {
    border-color: #d9b6ff;
    color: #d9b6ff;
    cursor: pointer;
  }
  
  ._btn-text:active {
    border-color: #ad61ff;
    color: #ad61ff;
    cursor: pointer;
  }
  
  .active {
    border-color: #ad61ff; /* Изменяем цвет рамки */
    color: #ad61ff; /* Изменяем цвет текста */
    background-color: #282828; /* Фон для активной кнопки */
  }
  
  .filter__list-container {
    position: absolute; /* Позиционирование списка поверх кнопки */
    top: 100%; /* Сдвиг вниз относительно кнопки */
    left: 0; /* Выравнивание по левому краю кнопки */
    width: 250px; /* Фиксированная ширина */
    padding: 34px 34px 34px; /* Паддинг вокруг списка */
    background: rgb(49, 49, 49);
    border-radius: 12px; /* Закругленные углы */
    z-index: 10; /* Отображение поверх остальных элементов */
  }
  
  .filter__list {
    max-height: 255px; /* Ограничение по высоте */
    overflow-y: auto; /* Вертикальная прокрутка */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
  }
  
  .filter__list::-webkit-scrollbar {
    width: 4px; /* Ширина полосы прокрутки */
  }
  
  .filter__list::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Цвет полосы прокрутки */
    border-radius: 10px; /* Закругленные углы */
  }
  
  .filter__list::-webkit-scrollbar-track {
    background: rgb(75, 73, 73);
  }
  
  .filter__list li {
    list-style: none; /* Убираем маркеры списка */
    font-family: "StratosSkyeng", sans-serif; /* Устанавливаем шрифт */
    font-size: 20px; /* Размер шрифта */
    font-weight: 400; /* Толщина шрифта */
    line-height: 24px; /* Высота строки */
    letter-spacing: 0; /* Без увеличения межбуквенного расстояния */
    color: #ffffff; /* Белый текст */
    text-align: left; /* Выравнивание по левому краю */
    cursor: pointer;
    padding: 14px 8px; /* Отступ между элементами */
    border-radius: 8px;
  }
  
  .filter__list li:hover {
    color: #ac00ff; /* Цвет текста при наведении */
    text-decoration: underline; /* Подчеркивание при наведении */
  }
  